<app-header></app-header>

<body>
  <div class="container">
      <!-- Imagen del proyecto -->
      <div class="imagen-proyecto">
          <img src="..//assets/Imagen1.jpg" alt="Imagen del proyecto">
      </div>

      <!-- Línea de tiempo -->
      <div class="linea-tiempo">
          <div class="etapa">
              <h3>Proyecto: MercadoAgroecologico.org</h3>
              <p>Consiste en un aplicativo web responsivo que busca conectar a productores agricolas
                y futuros clientes sin intermediaros, eseptuando la aplicación.</p>
          </div>
          <div class="etapa">
              <h3>Desarrollo: </h3>
              <p>En ella se aplicó lo aprendido durante la carrera, como: diseño de aplicaciones,
                base de datos, Fron-end y Back-end</p>
          </div>

      </div>
  </div>
</body>

<app-fooder></app-fooder>
