<app-header></app-header>


<div class="inicio-container">
  <!-- Sección de presentación con tu imagen -->
  <section class="presentacion">
    <div class="imagen-container">
      <img src="..//assets/fotoPerfil.jpg" alt="Img" class="imagen-perfil">
    </div>
    <div class="texto-presentacion">
      <h1>¡Hola! soy Ronald Rengifo</h1>
      <p>
        Bienvenido/a a mi portafolio. Soy desarrollador Junior, tengo 22 años
        y cuento con conocimiento en herramientas de programción, base de datos, diseño y
        gestion de proyectos como:
      </p>

      <h3>Java Script, Php, C#, Python, Type Script, MySQL, MongoDB, Figma, Jira-Bitbucket, Angular,
         Larabel.
      </h3>
    </div>
  </section>

  <!-- Sección de enlaces rápidos -->
  <section class="enlaces-rapidos">
    <h2>Explora más</h2>
    <div class="botones-rapidos">
      <a href="/proyectos" class="boton-rapido">Proyectos</a>
      <a href="/estudios" class="boton-rapido">Estudios y certificados</a>
    </div>
  </section>
</div>

<app-fooder></app-fooder>



