<app-header></app-header>

<body>
  <div class="container">
      <!-- Imagen del proyecto -->
      <!--<div class="imagen-proyecto">
          <img src="..//assets/Imagen1.jpg" alt="Imagen del proyecto">
      </div> -->

      <!-- Línea de tiempo -->
      <div class="linea-tiempo">
          <div class="etapa">
              <h3>Ingeniero de sistemas</h3>
              <p>Título universitario optenido en el año 2025</p>
          </div>

          <div class="etapa">
            <h3>Bachiller</h3>
            <p>Culminación de mis estudios de bachiller a finales del año 2019</p>
        </div>

          <div class="etapa">
              <h3>Certificado de ingles</h3>
              <p>Certificado de ingles A1 optenido en la facultad</p>
          </div>

          <div class="etapa">
            <h3>Certificado de usabilidad</h3>
            <p>Curso de usabilidad dado por la carrera donde
               se explica el correcto funcionamiendo de aplicaciones</p>
        </div>

      </div>
  </div>
</body>

<app-fooder></app-fooder>
