footer {
  background-color: #cfcfcf;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content a {
  color: #009938;
  font-weight: bold;
  text-decoration: none;
}


.footer-content a:hover {
  text-decoration: underline;
}
